*,
*:after,
*:before {
    @include box-sizing(border-box);
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-grey;
}

h1 {
    text-transform: uppercase;
}

a {
    @include link-colors($grapefruit, $salmon);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
}

.main {
    // outline: 1px solid $base;
    outline: 1px solid $choco;
}
